*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* background-color: #f4f4f4; */
    background-color: #000;
}

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.img-gallery img{
    width: 100%;
    height: 500px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.img-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0.8;
}

.img-text{
    font-size: 26px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.location{
    font-size: 16px;
    color: grey;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.know-more{
    color: #66ffff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.img-container:hover .dark-overlay{
    background: rgba(0, 0, 0, 0.9);
}

.img-container:hover .know-more{
    opacity: 1;
}

.img-container:hover .img-overlay{
    transform: translateY(-10px);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.nav-button{
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.svg-icon {
    display: inline-block;
    width: 30px; 
    height: 20px;
    fill: #66ffff;
    font-weight: bold;
    font-size: 20px;
}
.svg-icon-content {
    width: 100%;
    height: 100%;
    fill: inherit; 
}